---
http_interactions:
- request:
    method: post
    uri: https://gateway.t3.nomis-api.hmpps.dsd.io/auth/oauth/token?grant_type=client_credentials
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - authorisation_header
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"access_token":"eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJpbnRlcm5hbFVzZXIiOmZhbHNlLCJzY29wZSI6WyJyZWFkIiwid3JpdGUiXSwiZXhwIjoxNTQ0MTA2OTczLCJhdXRob3JpdGllcyI6WyJST0xFX1NZU1RFTV9SRUFEX09OTFkiXSwianRpIjoiNGU4ZGI2OGUtYjRkOS00NzUzLWE1OWMtZmYzNzUwNzU0ZTAxIiwiY2xpZW50X2lkIjoib2ZmZW5kZXItbWFuYWdlbWVudC1hbGxvY2F0aW9uLW1hbmFnZXIifQ.i57-tHcoufrTs8oxWxnKuW5ZMuBXVfu6Fkv04Qpffbr-LHhTyAwEeaqxscHGUJx4mgMbREzoOmctRaCMFecCIPTsIXMWDJPSONCkk7wlKUV3DO319QLCV35U6l8IcTq7t68dgHwoAoVvNeh-cn109xpiWOhCyqwNsNWrLK3-QpPjtIYFf4HJbjp-48Khqa-JpgL7D_EHDXTUcarvA8EO6iIijF21kt8YkvX8ufMUe3l28slTSeTTuEg-sTdKJCCqGknXjff-OgzrVj0cYs8DjoUq1giH2GfwNRxlCDVT8QbnRS6tAjvOJPHBqM1OTwdq-WKDc6bkgP49Q6EhdYgwZg","token_type":"bearer","expires_in":1199,"scope":"read
        write","internalUser":false,"jti":"4e8db68e-b4d9-4753-a59c-ff3750754e01"}'
  recorded_at: Thu, 06 Dec 2018 14:16:13 GMT
- request:
    method: get
    uri: https://gateway.t3.nomis-api.hmpps.dsd.io/custodyapi/api/nomis-staff-users/PK000223
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - authorisation_header
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application:logstash,oracle
    body:
      encoding: UTF-8
      string: '{"username":"PK000223","staffId":485637,"firstName":"KATH","lastName":"POBEE-NORRIS","status":"ACTIVE","activeNomisCaseload":"LEI","nomisCaseloads":{"LEI":{"id":"LEI","name":"LEEDS
        (HMP)","type":"INST","currentActive":true,"agencies":[{"agencyLocationId":"LEI","description":"LEEDS
        (HMP)","longDescription":"HMP LEEDS","agencyLocationType":"INST","districtCode":"YORK","bailOffice":false,"housingLev1Code":"WING","housingLev2Code":"LAND","housingLev3Code":"CELL","housingLev4Code":"NULL","serviceRequired":false,"active":true,"areaCode":"YORK","nomsRegionCode":"YOHUM","geographicRegionCode":"YORK","cjitCode":"E00LE00"},{"agencyLocationId":"OUT","description":"OUTSIDE","longDescription":"OUTSIDE
        JURISDICTION","agencyLocationType":"INST","districtCode":"FD","deactivationDate":"2008-05-29","jurisdictionCode":"CC","bailOffice":true,"listSeq":2,"housingLev1Code":"BED","propertyLev1Code":"BOX","serviceRequired":false,"active":false,"disabilityAccessCode":"WHEEL","cjitCode":"TEST"},{"agencyLocationId":"TRN","description":"TRANSFER","agencyLocationType":"INST","districtCode":"FD","bailOffice":true,"housingLev1Code":"CB","serviceRequired":false,"active":true}]},"NWEB":{"id":"NWEB","name":"Nomis-Web
        Application","type":"APP","currentActive":false,"agencies":[]},"PVI":{"id":"PVI","name":"PENTONVILLE
        (HMP)","type":"INST","currentActive":false,"agencies":[{"agencyLocationId":"OUT","description":"OUTSIDE","longDescription":"OUTSIDE
        JURISDICTION","agencyLocationType":"INST","districtCode":"FD","deactivationDate":"2008-05-29","jurisdictionCode":"CC","bailOffice":true,"listSeq":2,"housingLev1Code":"BED","propertyLev1Code":"BOX","serviceRequired":false,"active":false,"disabilityAccessCode":"WHEEL","cjitCode":"TEST"},{"agencyLocationId":"PVI","description":"PENTONVILLE
        (HMP)","longDescription":"HMP PENTONVILLE","agencyLocationType":"INST","districtCode":"LONDON","bailOffice":false,"housingLev1Code":"WING","housingLev2Code":"LAND","housingLev3Code":"CELL","housingLev4Code":"NULL","serviceRequired":false,"active":true,"areaCode":"LONDON","nomsRegionCode":"LON","geographicRegionCode":"LONDON","cjitCode":"E00PV00"},{"agencyLocationId":"TRN","description":"TRANSFER","agencyLocationType":"INST","districtCode":"FD","bailOffice":true,"housingLev1Code":"CB","serviceRequired":false,"active":true}]},"WEI":{"id":"WEI","name":"WEALSTUN
        (HMP)","type":"INST","currentActive":false,"agencies":[{"agencyLocationId":"OUT","description":"OUTSIDE","longDescription":"OUTSIDE
        JURISDICTION","agencyLocationType":"INST","districtCode":"FD","deactivationDate":"2008-05-29","jurisdictionCode":"CC","bailOffice":true,"listSeq":2,"housingLev1Code":"BED","propertyLev1Code":"BOX","serviceRequired":false,"active":false,"disabilityAccessCode":"WHEEL","cjitCode":"TEST"},{"agencyLocationId":"TRN","description":"TRANSFER","agencyLocationType":"INST","districtCode":"FD","bailOffice":true,"housingLev1Code":"CB","serviceRequired":false,"active":true},{"agencyLocationId":"WEI","description":"WEALSTUN
        (HMP)","longDescription":"HMP WEALSTUN","agencyLocationType":"INST","districtCode":"YORK","bailOffice":false,"housingLev1Code":"WING","housingLev2Code":"LAND","housingLev3Code":"CELL","housingLev4Code":"NULL","serviceRequired":false,"active":true,"areaCode":"YORK","nomsRegionCode":"YOHUM","geographicRegionCode":"YORK","cjitCode":"E00WE00"}]}}}'
  recorded_at: Thu, 06 Dec 2018 14:16:13 GMT
recorded_with: VCR 4.0.0
